{% load static %}

<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>pro</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="../static/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="../static/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="../static/css/responsive.css">
      <!-- fevicon -->
      <link rel="icon" href="../static/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="../static/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">

      <link rel="stylesheet" href="../static/css/checkout.css">

      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->

      <style>
        .titlepage h3 {
            font-size: 24px;
            font-weight: 500;
            padding-left: 0px !important;
        }
        .body_img::before{
            background: none !important;
        }
      </style>
   </head>
   <!-- body -->
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="../static/images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
      <div id="myNav" class="menu_sid">
         <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
         <div class="menu_sid-content">
            <a href="#protien">Our Protien</a>
            <a href="#about">About Us</a>
            <a href="#testimonial">Testimonial</a>
            <a href="#contact">Contact Us</a>
         </div>
      </div>
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header">
         <div class="menu_sitbar">
            <ul class="menu">
               <li><button type="button" >
                  <img  onclick="openNav()" src="../static/images/menu_icon.png" alt="#"/>
                  </button>
               </li>
            </ul>
            <ul class="social_icon">
               <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
               <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
               <li><a href="javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            </ul>
         </div>
         <div class="header_full_bg">
            <div class="header_top">
               <div class="container">
                  <div class="row">
                     <div class="col-md-12">
                        <div class="logo">
                           <a href="index.html"><img src="../static/images/logo.png" alt="#"/></a>
                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>

      </div>
      </header>
      <!-- end header inner -->
      <!-- end header -->
        <!-- about -->
            <div id="protien" class="protien_main">
                <div class="container">
                    <div class="growyhing">
                        <div class="container">
                        <div class="row d_flex">
                            <div class="col-md-6">
                                <div class="body_img">
                                    <figure><img src="../static/images/pro1.png" style="height:400px; width: 300px; margin: auto;" alt="#"/></figure>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="titlepage">
                                    <h3>{{product.product_name}}</h3>
                                    <p>{{product.product_des}}</p>
                                    <p>₹{{product.product_price}}</p>
                                    <!-- <a class="read_more" href="Javascript:void(0)" onclick="enable_payment()"> Buy Now</a> -->
                                    <form action="../create-checkout-session/" method="POST">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" id="id" value="{{product.id}}">
                                        <button type="submit" id="checkout-button">Checkout</button>
                                    </form>    
                                    
                                    <!-- <button id="submit" class="read_more">
                                            <div class="spinner hidden" id="spinner"></div>
                                            <span id="button-text">Pay now</span>
                                        </button> -->
                                </div>
                            </div>

                            <p id="card-error" role="alert"></p>
                            <p class="result-message hidden">
                            Payment succeeded, see the result in your
                            <a href="" target="_blank">Stripe dashboard.</a> Refresh the page to pay again.
                            </p>
                        </div>
                        </div>
                    </div>
                </div>
            </div>


            <!-- <div class="payment_option">
                <div class="form-container">
                    <form id="payment-form">
                        <div id="payment-element">
                          Stripe.js injects the Payment Element
                        </div>
                        <button id="submit">
                          <div class="spinner hidden" id="spinner"></div>
                          <span id="button-text">Pay now</span>
                        </button>
                        <div id="payment-message" class="hidden"></div>
                      </form>
                </div>
            </div> -->


        <!-- end about -->
    <!--  footer -->
      <footer>
         <div class="footer">
            <div class="daih_bg">
               <div class="container">
                  <div class="row">
                     <div class="col-sm-12">
                        <ul class="conta">
                           <li><i class="fa fa-phone" aria-hidden="true"></i> Call Now  +01 123467890</li>
                           <li><i class="fa fa-map-marker" aria-hidden="true"></i> Location</li>
                           <li> <i class="fa fa-envelope" aria-hidden="true"></i><a href="#"> demo@gmail.com</a></li>
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
            <div class="container">
               <div class="row">
                  <div class="col-sm-12">
                     <img class="tex_left" src="../static/images/logo2.png" alt="#"/>
                  </div>
                  <div class=" col-md-3 col-sm-6">
                     <p class="variat">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim Lorem ipsum </p>
                  </div>
                  <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                     <h3>Information  </h3>
                     <ul class="link_menu">
                        <li> There are many </li>
                        <li> variations of pas</li>
                        <li> sages of Lorem </li>
                        <li> Ipsum available, </li>
                        <li>but the majority </li>
                        <li>have suffered  </li>
                     </ul>
                  </div>
                  <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                     <h3>Helpful Links</h3>
                     <ul class="link_menu">
                        <li> There are many </li>
                        <li> variations of pas</li>
                        <li> sages of Lorem </li>
                        <li> Ipsum available, </li>
                        <li>but the majority </li>
                        <li>have suffered  </li>
                     </ul>
                  </div>
                  <div class="col-lg-2 offset-lg-1 col-md-3 col-sm-6">
                     <h3>Supported</h3>
                     <ul class="link_menu">
                        <li> There are many </li>
                        <li> variations of pas</li>
                        <li> sages of Lorem </li>
                        <li> Ipsum available, </li>
                        <li>but the majority </li>
                        <li>have suffered  </li>
                     </ul>
                  </div>
                  <div class="col-sm-12">
                     <ul class="social2_icon">
                        <li><a href="javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a></li>
                        <li><a href="javascript:void(0)"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                     </ul>
                  </div>
               </div>
            </div>
            <div class="copyright">
               <div class="container">
                  <div class="row">
                     <div class="col-md-10 offset-md-1">
                        <p>© 2019 All Rights Reserved.<a href="https://html.design/"> Free html Templates</a></p>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="../static/js/jquery.min.js"></script>
      <script src="../static/js/bootstrap.bundle.min.js"></script>
      <script src="../static/js/jquery-3.0.0.min.js"></script>
      <!-- sidebar -->
      <script src="../static/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="../static/js/custom.js"></script>
      <script>
         function openNav() {
           document.getElementById("myNav").style.width = "20%";
         }
         
         function closeNav() {
           document.getElementById("myNav").style.width = "0%";
         }
         function enable_payment(){
            // document.querySelector('.payment_option').style.display = auto;
            document.querySelector('.payment_option').style.display = 'block';
         }
      </script>
      
      <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
      <script src="https://js.stripe.com/v3/"></script>

      <script src="../static/js/checkout_session.js" defer></script>
   </body>
</html>